---
import Layout from '../layouts/Layout.astro';
import './index.css';
---

<Layout>
  <div id="container">
    <main>
      <section id="home">
        <h1>Blogs</h1>
        <p class="hero-intro">
          Writing in progress. This page will soon host posts about engineering, product thinking, and lessons from shipping.
        </p>
      </section>
    </main>
  </div>
</Layout>
